button{
    background: none;
    padding: 1em;
    border: 1px solid var(--Psecondary-color);
    border-radius: .2em;
    font-size: larger;
    cursor: pointer;
    display: inline-block;
    color: var(--Psecondary-color);
   
}

button:hover{
  
    background: var(--hoverBlue);
    border: var(--hoverBlue);
    box-shadow: 0px 5px 20px var(--hoverBlue);
    transform: translateY(-2px);
    color: var(--primary-color);
}

