footer{
   
    display: flex;
    justify-content: center;
    background: #0b223a;
    padding-bottom: 10em;
    
    .footer--content{
       
     display: flex;
     flex-direction: column;
   
     img{
        height: 7em;
        margin-bottom: 2em;
     }
     
    }
    a{
        
        color: floralwhite;
        font-size: 1.5em;
        padding: 1em;
        cursor: pointer;
        &:hover{
            color: chartreuse;
        }
       
    }
    p{
        color: whitesmoke;
        margin-top: 2em;
    }
    p a{
        font-size: 18px;
        &:hover{
            color: chartreuse;
        }
    }

}
.footerlinks:hover{
    animation: sheen 0.9s infinite;
}

.footera{
   text-align: center;
}