.topbar{
    display: flex;
    height: .5em;
    width: 100%;
    background-color: var( --primary-very-dark-desat-rated-blue);
    position: fixed;
    top: 0;
    
}

header{
    display: flex;
    flex-direction: column;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 7em;
    width: 100%;
    position: fixed;
    margin-top: .5em;
    .navbar{
        display: flex;
        padding: 1em;
        align-items: center;
    }
    i{
        margin-right: .7em;
    }
    i:hover{
        color: var(--primary-dark-cyan);
    }
    a:hover{
        text-decoration: underline
    }
    .logo a:hover{
        text-decoration: none;
        color: var(--Very-Dark-Grayish-Blue);
    }
    .logo{
        
        padding: 1em;
    }
    .logo a{
        color: #333;
        font-weight: bold;
        font-size: xx-large;
    }
    a{
        color: #333;
        font-size: x-large;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        
    }
}
