.portofolio{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-image: url(./images/Polygon-0.2s-2048px.svg);
    background-repeat: no-repeat;
    .header--portofolio{
      text-align: center;
        margin-top: 5em;
        p{
            margin-bottom: 2em;
        }
        
    }

}