@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


// Variables
$dark-blue: #1E1B2D;
$light-blue: #828092;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}


.portofolio{
    position: absolute;
  

}
.container {
  margin: auto;
  
 
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-image: url(./images/Polygon-0.2s-2048px.svg);
  background-repeat: no-repeat;
  .header--portofolio{
   
      text-align: center;
      margin-top: 5em;
      p{
          margin-bottom: 2em;
      }
      
  }

}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  margin: auto 0;
 
}

// Base styles
.card {
 
  float: left;
  padding: 1rem;
  min-width: 500px;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(80px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1.5em;
      position: relative;
      z-index: 1;
    }
  }
  .type {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
    color: white;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// Example


.example-1 {
  .wrapper {
    background: url(./images/DanatravelsPotriat.jpg) 30% 1% / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(28, 83, 142);
    color: $white;
    padding: .75rem;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
  }
  .content {
    background-color: rgb(28, 83, 142);
    color: white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: white;
    }
  }
    .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    li {
      text-align: center;
      width: 3rem;
      background-color: rgb(28, 83, 142);
      height: 3rem;
      position: relative;
    }
    a {
      font-size: 24px;
    }
  }
}

.fa-github:hover{
  color: aquamarine;
}


.example-2 {
  .wrapper {
    background: url(./images/portofolioPotriat.jpg) 30% 1% / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(28, 83, 142);
    color: $white;
    padding: .75rem;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
  }
  .content {
    background-color: rgb(28, 83, 142);
    color: white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: white;
    }
  }
    .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    li {
      text-align: center;
      width: 3rem;
      background-color: rgb(28, 83, 142);
      height: 3rem;
      position: relative;
    }
    a {
      font-size: 24px;
    }
  }
}

.example-3 {
  .wrapper {
    background: url(./images/danatexPotriat.jpg) 30% 1% / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(28, 83, 142);
    color: $white;
    padding: .75rem;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
  }
  .content {
    background-color: rgb(28, 83, 142);
    color: white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: white;
    }
  }
    .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    li {
      text-align: center;
      width: 3rem;
      background-color: rgb(28, 83, 142);
      height: 3rem;
      position: relative;
    }
    a {
      font-size: 24px;
    }
  }
}


// alternate card style

// Base styles
.alternate-card {
  float: left;
  padding: 1rem;
  min-width: 500px;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(100% + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1.5em;
      position: relative;
      z-index: 1;
    }
  }
  .type {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 325px;
    margin: 0;
    color: white;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}


