:root{
  --primary-color:	#fff;
  --secondary-color: #102A43;
  --Psecondary-color: #102A43;


  --PrlighterBg:	hsl(198, 21, 88);
  --SEdarkBg:		hsl(212, 57%, 95%);

  --hoverBlue: 	hsl(208, 75%, 50%);
  --topBar: 	hsl(208, 75%, 50%);
 

}

