@import "./variables";
@import "./header";
@import "./experiences";
@import "./svgstyle";
@import "./buttons";

@mixin displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Rubik", sans-serif;
  transition: background 0.3s linear;
  
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
 
}

main {
  display: flex;
  flex-direction: column;
}

.head {
  @include displayFlex();
  margin-top: 7em;
  height: 35em;
  width: 100%;
  background-color: var(--primary-color);
 
  p {
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    line-height: 2;
    color: var(--secondary-color);
   
    animation: slideIn .8s ease-in-out forwards .1s;
  }
}


.dark-theme{
  --primary-color:	#102A43;
  --secondary-color: #f0f4f8;
  --Psecondary-color: #64FFDA;
  --PrlighterBg:	#334E68;
  --SEdarkBg:		#243B53;
  --hoverBlue: 	hsl(88, 75%, 50%);
  --topBar: 	#334e68;
 
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
