@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import "./button";
@import "./textAnimation";
@import "./mouseAnimation";
@import "./portofolio";
@import "./footer";
@import "./skills";
@import "./funweb";
@import "./contact";
@import "./scrollFade.scss";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  position: relative;
  background-image: url(./images/AnimatedShape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: t-animation 6s;
  height: 100vh;
}

.logo svg {
  max-width: 7em;
}

svg path {
  fill: none;
  stroke: #64ffda; //#64FFDA
  // filter: drop-shadow( 3px 3px 2px rgb(255, 255, 255));
  stroke-width: 2;
  stroke-dasharray: 2566;
  stroke-dashoffset: 2566;
  animation: cloud 5s linear forwards 3;
}

svg:hover {
  cursor: pointer;
}

@keyframes cloud {
  from {
    stroke-dashoffset: 2566;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.brandname {
  animation: leap 0.7s 1;

  &:hover {
    animation: sheen 0.9s infinite;
  }
}
.main_content {
  display: flex;
  height: 100vh;
  padding: 5em;
  animation: t-animation 6s;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1,
  p {
    color: rgb(240, 241, 255);
    font-size: 5em;

    animation: squash 0.9s 1;
  }
  p {
    color: #ccd6f6;
  }
}

.wrapper .sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 100vh;
  background: #0b223a;
  padding: 0px 0px;
  position: fixed;
  z-index: 999;
}

.wrapper .sidebar h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #64ffda;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
}

.fas {
  color: #64ffda;
}

.wrapper .sidebar ul li {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #b8b9d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: rgba(28, 83, 142, 0.4);
}

.wrapper .sidebar ul li:hover a {
  color: #64ffda;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: rgba(28, 83, 142, 0.4);
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  &:hover {
    color: #64ffda;
  }
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}

@keyframes t-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}








@media only screen and (max-width: 1024px) {

  .main_content p {

      font-size: 2em;

  }
  .skill-desc {

    margin: 0 auto;
    h2{
      font-size: 3em;
    }
  }
  .contactPage {

    height: 60vh;
  }

    .aboutme {
      min-width: 40%;
      min-height: 30%;
      padding: 20px;
      h2 {
        font-size: 3em;
      }
    }
      .transtext2 {
        font-size: 2em;
        top: 55%;
       
      }
      
      .form-box .transtext{
      
      top: 10%;
         
      }
    









} //the end



@media only screen and (max-width: 779px) {

  .contactPage {
    flex-wrap: wrap-reverse;
    transform: translate(-35%, -50%);
    .aboutme {
      min-width: 40%;
      min-height: 30%;
     
    }
      .transtext2 {
        font-size: 2em;
        bottom: 0;
      }
      h2 {
        font-size: 1.5em;
      }
  
      p {
        text-align: justify;
  
        line-height: 1;
        font-size: 11px;
      }
    }
  

    .techlogo {
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-top: 1em;
    
      a {
        font-size: 1em;
      }
    }


    .form-box {
      min-width: 100%;
      min-height: 30%;
      padding: 20px;
    
      .transtext {
        font-size: 2em;
    
        right: -1em;
        bottom: 0.5em;
      }
    }

    .form-box h1 {
      color: white;
    
      font-size: 1.5em;
    }

    .form-box input[type="text"],
    .form-box input[type="text"] {
      border: 0;
    
      background: none;
    
      display: block;
    
      margin: 7px auto;
    
      text-align: center;
    
      border: 2px solid #3498db;
    
      padding: 4px 20px;
    
      width: 380px;
    
      outline: none;
    
      color: white;
    
      border-radius: 24px;
    
      transition: 0.25s;
    }

    .form-box input[type="text"]:focus,
    .form-box input[type="text"]:focus {
      width: 200px;
    
      border-color: #2ecc71;
    }
    .textarea {
      height: 5em;
    }

    .form-box input[type="submit"] {
      margin: 10px auto;
    
      padding: 14px 20px;
    }


    .close {
      top: 15px;
      width: 12px;
      height: 12px;
    }


    #thankyou {
      width: 60%;
      height: 50%;
      transform: translate(-30%, -50%);
      h1 {
        font-weight: bold;
      }
    }
  }





@media only screen and (max-width: 480px) {
  * {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 auto;
  }
  html,
  body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .wrapper .sidebar {
        display: none;
      }

      
.main_content {
        transform: translate(-52%, -15%);
      }
    
      .header {
        justify-content: center;

        h1,
        p {
          text-align: center;
          font-size: 3em;
          margin-bottom: 1em;
        }
      }


      .container {
        max-width: 100vw;
    
        .portfoliotitle {
          display: flex;
        }
        h1 {
          font-size: 1.5em;
        }
        p {
          margin-top: -2.5em;
        }
        .container1 {
          max-width: 100vw;
        }
      }


      .projectList {
        flex-wrap: wrap;
        width: 100vw;
        transform: translate(-15%);
        margin-top: -6em;
      }

      .section {
        max-width: 100vw;
        padding: 0;
        margin: 0 auto;
        .skill-desc {
          transform: translate(-0%);
        }
        h2 {
          list-style: none;
          font-size: 2em;
          text-align: center;
        }
        p {
          width: 80%;
        }
        .wall {
          margin: 1em auto;
        }
      }

      .desc {
        max-width: 90%;
      }
    
      .footer--content a {
        font-size: 1em;
      }

      .contactPage {
        flex-wrap: wrap-reverse;
        transform: translate(-50%, -50%);
        .aboutme {
          min-width: 40%;
          min-height: 30%;
          padding: 20px;
        }
          .transtext2 {
            font-size: 2em;
          }
          h2 {
            font-size: 1.5em;
          }
      
          p {
            text-align: justify;
      
            line-height: 1;
            font-size: 11px;
          }
        }
      

        .techlogo {
          width: 70%;
          display: flex;
          justify-content: space-between;
          margin: auto;
          margin-top: 1em;
        
          a {
            font-size: 1em;
          }
        }


        .form-box {
          min-width: 40%;
          min-height: 30%;
          padding: 20px;
        
          .transtext {
            font-size: 2em;
        
            right: -1em;
            bottom: 0.5em;
          }
        }

        .form-box h1 {
          color: white;
        
          font-size: 1.5em;
        }

        .form-box input[type="text"],
        .form-box input[type="text"] {
          border: 0;
        
          background: none;
        
          display: block;
        
          margin: 7px auto;
        
          text-align: center;
        
          border: 2px solid #3498db;
        
          padding: 4px 20px;
        
          width: 180px;
        
          outline: none;
        
          color: white;
        
          border-radius: 24px;
        
          transition: 0.25s;
        }

        .form-box input[type="text"]:focus,
        .form-box input[type="text"]:focus {
          width: 200px;
        
          border-color: #2ecc71;
        }
        .textarea {
          height: 5em;
        }

        .form-box input[type="submit"] {
          margin: 10px auto;
        
          padding: 14px 20px;
        }


        .close {
          top: 15px;
          width: 12px;
          height: 12px;
        }


        #thankyou {
          width: 80%;
          height: 50%;
        
          h1 {
            font-weight: bold;
          }
        }






















 }
    

























