:root {
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-very-dark-desat-rated-blue: hsl(205, 67%, 45%);
  --pale-yellow: hsl(59, 100%, 81%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);
  --primary-dark-grayish-blue: hsl(227, 10%, 46%);
  --neutral-dark-gray: hsl(0, 0%, 59%);
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsla(72.19, 82.05%, 69.41%);
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: .5em;
  width: 100%;
  background-color: var(--primary-very-dark-desat-rated-blue);
  position: fixed;
  top: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 7em;
  width: 100%;
  position: fixed;
  margin-top: .5em;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav i {
  margin-right: .7em;
}

nav i:hover {
  color: var(--primary-dark-cyan);
}

nav a:hover {
  text-decoration: underline;
}

nav .logo a:hover {
  text-decoration: none;
  color: var(--Very-Dark-Grayish-Blue);
}

nav .logo {
  padding: 1em;
}

nav .logo a {
  color: #333;
  font-weight: bold;
  font-size: xx-large;
}

nav a {
  color: #333;
  font-size: x-large;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience .lightBg {
  width: 100%;
  background-color: var(--Light-Grayish-Blue);
}

.experience .darkBg {
  width: 100%;
  background-color: var(--Grayish-Blue);
}

.project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.project1 p {
  line-height: 2;
}

.project1 .heading {
  font-size: xx-large;
}

.project1 .subheading {
  font-size: x-large;
}

.project1 img {
  height: 30em;
}

svg {
  margin-right: 1em;
  margin-bottom: 1em;
}

.svg {
  width: 20em;
}

svg:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
}

button {
  background: none;
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.2em;
  font-size: larger;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  color: var(--Very-Dark-Grayish-Blue);
  opacity: 5;
  right: 0;
  padding-right: 25px;
  background: var(--Grayish-Blue);
  border-color: var(--Very-Dark-Grayish-Blue);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7em;
  height: 35em;
  width: 100%;
  background-color: white;
}

.head p {
  font-size: xx-large;
  text-align: center;
  line-height: 2;
  color: #333;
}
/*# sourceMappingURL=style.css.map */